


/* Image Avarta */
.img-postmanager{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center center;
}

.alert-danger{
    width: 90%;
    height: 42px;
   
}

/* Wapper Room Home wapper-post_manager =>(Phòng trọ)*/

.wapper-post_manager{
    border: 1px solid #ccc;
    box-shadow: 0 5px 30px rgba(0,0,0,.15);
    margin-bottom: 50px;
    padding: 10px;
}